[Unit]
Description=Bitcoin daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/bitcoind -conf=/mnt/bitcoin/bitcoin.conf -daemon
ExecStop=/usr/local/bin/bitcoin-cli -conf=/mnt/bitcoin/bitcoin.conf stop
User=david
Group=david
Type=forking
PIDFile=/mnt/bitcoin/blockchain/bitcoind.pid
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
